@{
    ViewBag.Title = "About";
}
<h2>About the Irving Park Contact List</h2>

<p>
    Contact Information for Residents of <a target="_blank" href="https://goo.gl/maps/YHhDi">Irving Park, Chicago IL</a>
    <br/><br />
    <a href="mailto:support@irvingparkcontactlist.com">support@irvingparkcontactlist.com</a>
</p>

