@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Irving Park
    Chicago, IL
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@irvingparkcontactlist.com">support@irvingparkcontactlist.com</a>
</address>